# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask / SQLite Database
instance/
*.sqlite3
*.db

# User Uploads
static/uploads/

# Virtual Environments
venv/
env/
.venv/

# IDE / Editor Files
.vscode/
.idea/
*.swp
.DS_Store

# Miscellaneous files not needed for code
vol.zip

# Temporary/cloned repositories
repo_clone/
VOLFII-main/
